.uploadCentre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../photo/upload.jpeg");

}

.uploadItem {
  border-radius: 20px;

  width:600px;
  height: 300px;
  background-size: cover;
  background:white center no-repeat;


  span{
      color:white;
      margin-left: 50px;
      font-size: 20px ;
      margin-right: 25px;
      font-weight: bold;
    }
  input{
    font-weight: bold;
    color: wheat;
    font-size:20px;
  }

}

.overUploadButton{
  float: right;
  padding-top: 50px;
}
.centerButtons{
  display: flex;
  justify-content: center;
}
.uploadButton {

  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  display: inline-block;
  border-radius: 4px;
  background:dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.uploadButton:active{
  transition: 0.5s;
  box-shadow: none;
  transform: translateY(7px);

}

.uploadButton span {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.uploadButton span:visited{
  text-decoration: none;
}
.uploadButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.uploadButton:hover span {
  padding-right: 15px;

}

.uploadButton:hover span:after {
  opacity: 1;
  right: 0;
}




