.list {
  height: 100vh;
  background-image: url("../photo/list.jpeg");
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center; }
  .list li {
    text-align: center;
    font-size: 15px;
    list-style: none; }

.listEl {
  height: 600px;
  width: 600px;
  color: black;
  background: white;
  border-radius: 15px; }

.listButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  border-radius: 4px;
  background: mediumblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer; }

.listButton2 {
  position: absolute;
  left: 40%;
  transform: translate(-50%);
  top: 0;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  border-radius: 4px;
  background: mediumblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer; }

.images {
  margin: 5px;
  width: 80px;
  height: 80px; }

.elementsInList {
  flex-wrap: wrap; }
