.inputStyleLogin{
  border: 2px solid black;
  height: 30px;
  width: 300px;

}
.signIn{
  padding-left: 30px;
  width: 100%;
  height: 100vh;
display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../photos/login.jpg");
}

.signInWindow{
  border-radius:20px;
  width:600px;
  height: 300px;
  background:white;



}

.overButton{

  margin-top: 30px;


}
.button {
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  display: inline-block;
  border-radius: 7px;
  background: dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

  a{
    text-decoration: none;
    color: white;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
}

.button:active{
  transition: 0.5s;
  box-shadow: none;
  transform: translateY(7px);

}

.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
  padding-right: 25px;

}

.button:hover a:after {
  opacity: 1;
  right: 0;
}


